<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrintQtrylyReport.Properties.Settings.QAPortalConnectionString"
            connectionString="Data Source=10.29.10.73;Initial Catalog=QAPortal;Persist Security Info=True;User ID=qaportalsqldev;Password=6AmQ67@jd89i3t;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>